.start {
  height: 50vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.banner {
  height: 100%;
  width: 50%;
  background-image: url('../assets/Home-Hero-Image.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.start-help {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 2vw;
    text-align: center;
  }
}

.button ul {
  display: flex;
  flex-direction: row;
  margin-top: 3vw;

  a {
    text-decoration: none;
    color: $color5;
    font-size: 1.89vw;
    font-weight: 300;
    text-transform: uppercase;
    border: 0.03vw solid gray;
    margin-left: 1vw;
    padding: 1vw;
    width: 13vw;
    display: block;
    text-align: center;


  }

}
