.step1 {
  .form-step4{
    width: 45vw;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    div {
      width: 50%;
      margin-right: 1vw;
    }
    input{
      width: 13.5vw;
      height: 2vw;
      margin-left: 1vw;
      background-color: $color1;
      border: 1px solid $color5;

    }
    label{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    textarea{
      height: 6.3vw;
      background-color: $color1;
    }
  }
}
