.step5 {
  display: flex;
  justify-content: center;
  h3 {
    margin-bottom: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h4 {
    margin-bottom: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
      width:2.6vw;
      height: 2.6vw;
      margin-right: 1vw;
    }
    span {
      width: 55%;
      text-align: right;
    }
  }
}

.resume {
  margin-right: 3vw;

  h3,h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5vw;

  }


}

button {
  height: 3vw;
  width: 10vw;
  padding: 0.5vw;
  font-size: 1vw;
  margin-right: 1vw;


}