.thingsToGive{
  width: 100%;
  height: 46.5vw;
  background-image: url("../assets/Background-Form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  //padding-left: 10vw;
  button {
    margin-bottom: 1vw;

  }
  button:first-child{
    margin-left: 5vw;
  }
}